<ss-navbar></ss-navbar>
<div class="content-wrapper">
    <div class="content">
        <h2>LISTE DES COMMANDES PAR LIVRAISON</h2>
        <div class="liste">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">ID </th>
                    <th scope="col">Numero commande</th>
                    <th scope="col">Date commande</th>
                    <th scope="col">Etat commande</th>
                    <th scope="col">ACTION</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let commande of commandes">
                    <td>{{commande.id}}</td>
                    <td>{{commande.numeroCommande}}</td>
                    <td>{{commande.dateCommande}}</td>
                    <td>{{commande.etat}}</td>
                    <td>
                      <button class="btn-va"><i class="fa-solid fa-check"></i>valider</button>
                      <button class="btn-ter"><i class="bi bi-bookmark-check-fill"></i>terminer</button>
                      <button class="btn-an"><i class="bi bi-slash-circle"></i>annuler</button>
                    </td>
                  </tr>
                </tbody>
              </table>
             
        </div>
           
    </div>
</div>