
.container{
    border-radius: 20px;
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 10%;
    margin-bottom: 2%;
    width: 50%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.choice-container{
    display: flex;
    justify-content: center;
    align-items: center;
} 
.choices{
    margin-top: 2%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C2B364;
    width: 200px;
    height: 100px;
    color: white;
}
.place{
    margin-left: 20%;
    color: black;
}
.info-container{
    display: flex;
    margin-left: 25%;
    margin-top: 5%;
}
.info-container p{
    margin-left: 10%;
}
form{
    margin-left: 30%;
}
.form-control{
    width: 50%;
}
.form-select{
    width: 50%;
}
.btn{
    background-color: #C2B364;
    color: white;
    width: 50%;
}
.icon{
    position: absolute;
    border: 1px solid #C2B364;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
}
.i1{
    top:19%;
    left:43%;
}
.i2{
    top:19%;
    left:57%;
}