<nav class="vertical-menu-wrapper">
    <div class="vertical-menu-logo">
      <div >
        <img class="logo" src="assets/images/logo.bin" alt="">
    </div>
      <span class="open-menu-btn"><hr><hr><hr></span>
    </div>
    <ul class="vertical-menu">
        <li>
            <a routerLink="/gestionnaire"><i class="fa-solid fa-gauge"></i><span>DASHBOARD</span></a>
        </li>
       
        <li>
            <a routerLink="/gestionnaire/produit/burger"> <i class="fa-solid fa-burger"></i><span>GESTION DES BURGERS</span></a>
        </li>
        <li>
            <a routerLink="/gestionnaire/produit/menu"><i class="fa-solid fa-utensils"></i><span>GESTION DES MENUS</span></a>
        <li>
           <a ><i class="bi bi-spotify"></i><span> GESTION DES FRITES</span> </a> 
        </li>
        <li>
            <i class="fa-solid fa-bottle-water"></i> <span> GESTION DES BOISSONS</span>
        </li>
        <li>
            <a routerLink="/gestionnaire/commande/suivi"><i class="bi bi-cart-fill"></i><span>COMMANDES</span>  </a> 
        </li>
        <li>
            <i class="bi bi-truck"></i><span>LIVRAISONS</span>
        </li>
        <li>
            <i class="fa-solid fa-arrow-down-a-z"></i><span>GESTION DES ZONES</span>
        </li>
        <li (click)="logout()" class="logout">
            <i  class="fa-solid fa-arrow-right-from-bracket"></i><span>DECONNEXION</span>
        </li>
    </ul><i class="bi bi-spotify"></i>
  </nav>
 
