<div *ngIf="tailleBoissons" class="component-bottom">
    {{size}}
    <h4> {{tailleBoissons.tailleBoisson?.libelle}} ({{tailleBoissons.quantite * qteMenu}})</h4>
    <small>{{textControl()}}</small>
    <div class="test">
        <ng-container *ngFor="let boissonTailleBoisson of tailleBoissons.tailleBoisson?.boissonTailleBoissons">
            <ss-card-detail (sizeChange)="test($event,tailleBoissons.tailleBoisson?.id,tailleBoissons.quantite*qteMenu,boissonTailleBoisson?.boisson?.id)" (sizeChange)="tailleControle($event)" [boissonTailleBoisson]="boissonTailleBoisson"></ss-card-detail>
        </ng-container>
    </div>
</div>
<div *ngIf="boissons" class="component-bottom">
    <h5>{{boissons.libelle}}</h5>
    <div class="test">
        <ng-container *ngFor="let boisson of boissons?.boissonTailleBoissons">
            <ss-card-detail [boisson]="boisson"></ss-card-detail>
        </ng-container>
    </div>
</div>
<div *ngIf="frites" class="component-bottom">
    <ss-card-detail [frites]="frites"></ss-card-detail>
</div>

