<div class="component-bottom">
    <div class="cart_counter cart-style">
        <button  class="reduced items-count" type="button">
            <i class="fa fa-minus"></i>
        </button>
        <input type="text" name="qty" id="sst61_menu" maxlength="12" value="1" title="Quantity:" class="input-text qty">
        <button onclick="var result = document.getElementById('sst61_menu'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;" class="increase items-count" type="button">
            <i class="fa fa-plus"></i>
        </button>
    </div>
    <img src="assets/images/coca.jpg" alt="">
    <p>Coca cola</p>
</div>
