<ss-navbar></ss-navbar>
<div class="content-wrapper">
    <div class="content">
        <div class="row p-4">
            <div class="col-md-6 col-xl-3">
                <div class="bg-white shadow-sm p-4">
                    <div class="row">
                        <div class="col-6">
                            <div class="rounded-circle shadow-lg bg-primary border-primary border" style="width: 4.5rem;height: 4.5rem">
                                <i class="fas fa-burger fa-2x text-white d-flex justify-content-center h-100 align-items-center"></i>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="text-right">
                                <h3 class="text-dark mt-1"><span class="counter">16</span></h3>
                                <p class="text-muted mb-1 text-truncate">Produits vendus par jour</p>
                            </div>
                        </div>
                    </div> <!-- end row-->
                </div> <!-- end widget-rounded-circle-->
            </div> <!-- end col-->
    
            <div class="col-md-6 col-xl-3">
                <div class="bg-white shadow-sm p-4">
                    <div class="row">
                        <div class="col-6">
                            <div class="avatar-lg rounded-circle shadow-lg bg-success border-success border" style="width: 4.5rem;height: 4.5rem">
                                <i class="fas fa-user fa-2x text-white d-flex justify-content-center h-100 align-items-center"></i>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="text-right">
                                <h3 class="text-dark mt-1"><span class="counter">5</span></h3>
                                <p class="text-muted mb-1 text-truncate">Utilisateurs inscrits</p>
                            </div>
                        </div>
                    </div> <!-- end row-->
                </div> <!-- end widget-rounded-circle-->
            </div> <!-- end col-->
    
            <div class="col-md-6 col-xl-3">
                <div class="bg-white shadow-sm p-4">
                    <div class="row">
                        <div class="col-6">
                            <div class="avatar-lg rounded-circle shadow-lg bg-info border-info border" style="width: 4.5rem;height: 4.5rem">
                                <i class="fas fa-truck fa-2x text-white d-flex justify-content-center h-100 align-items-center"></i>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="text-right">
                                <h3 class="text-dark mt-1"><span class="counter">10</span></h3>
                                <p class="text-muted mb-1 text-truncate">Commandes a ce jour</p>
                            </div>
                        </div>
                    </div> <!-- end row-->
                </div> <!-- end widget-rounded-circle-->
            </div> <!-- end col-->
    
            <div class="col-md-6 col-xl-3">
                <div class="bg-white shadow-sm p-4">
                    <div class="row">
                        <div class="col-6">
                            <div class="avatar-lg rounded-circle shadow-lg bg-warning border-warning border" style="width: 4.5rem;height: 4.5rem">
                                <i class="fas fa-sack-dollar fa-2x text-white d-flex justify-content-center h-100 align-items-center"></i>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="text-right">
                                <h3 class="text-dark mt-1"><span class="counter">150000</span>fcfa</h3>
                                <p class="text-muted mb-1 text-truncate">De chiffres d affaires</p>
                            </div>
                        </div>
                    </div> <!-- end row-->
                </div> <!-- end widget-rounded-circle-->
            </div> <!-- end col-->
        </div>
        <div class="img">
            <img src="assets/images/burgerDash.jpg" alt="">
        </div>
    </div>
</div>

