
<ss-navbar></ss-navbar>
<div class="content-wrapper">
    <a href=""><button class="btn btn-danger">DECONNEXION</button></a>
    <div class="content">
            <h2>GESTION DES MENUS</h2>
            <a routerLink="/gestionnaire/produit/addMenu"><button class="btn-add">AJOUTER</button></a>
            <div class="liste">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">IMAGE</th>
                        <th scope="col">NOM</th>
                        <th scope="col">PRIX</th>
                        <th scope="col">ACTION</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let cata of catas | paginate:{itemsPerPage:5,currentPage:p,totalItems:totalLenght} ">
                        <td>{{cata.id}}</td>
                        <td><img width="100px" src="data:image/png;base64,{{cata.image}}" alt=""></td>
                        <td>{{cata.nom}}</td>
                        <td>{{cata.prix}}</td>
                        <td>
                            
                            <button (click)='MenutoEdit(cata.id)' class="btn-bi"><i class="bi bi-archive"></i>archiver</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
    </div>
</div>