<ng-container *ngIf="boissonTailleBoissons">
    <div class="img-input">
        <div class="cart_counter"><ss-card-count [(size)]="fontSizePx" [boissonTailleBoissons]="boissonTailleBoissons"></ss-card-count></div>
        <img src="/assets/images/boissons/{{boissonTailleBoissons.boisson?.id}}" alt="">
    </div>
</ng-container>
<ng-container *ngIf="boisson">
    <div class="img-input">
        <div class="cart_counter"><ss-card-count [boisson]="boisson"></ss-card-count></div>
        <img src="/assets/images/boissons/{{boisson.boisson?.id}}.png" alt="">
    </div>
</ng-container>
<ng-container *ngIf="frites">
    <div class="img-input">
        <div class="cart_counter"><ss-card-count [frites]="frites"></ss-card-count></div>
        <img src="/assets/images/frites/{{frites.id}}.jpg" alt="">
    </div>
</ng-container>

