<ss-header></ss-header>
<div class="container">
    <h3>LISTE DE MES COMMANDES</h3>
    <div class="table">
        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
              <tr>
                <th>Numero commande</th>
                <th>Date commande</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <p class="fw-normal mb-1">N00234</p>
                </td>
                <td>
                  02/12/2022
                </td>
                <td>
                    <button type="button" class="btn btn-danger">Annuler</button>
                    <a routerLink="/client/commande/detail/1">
                        <button type="button" class="btn btn-warning">Detail</button>
                    </a>
                  
                </td>
              </tr>
              <tr>
                
                <td>
                  <p class="fw-normal mb-1">N00283</p>
                </td>
                <td>23/11/2022</td>
                <td>
                    <button type="button" class="btn btn-danger">Annuler</button>
                    <a routerLink="/client/commande/detail/1">
                        <button type="button" class="btn btn-warning">Detail</button>
                    </a>
                  
                </td>
              </tr>
              <tr>
               
                <td>
                  <p class="fw-normal mb-1">N02992</p>
                </td>
              
                <td>11/11/2020</td>
                <td>
                    <button type="button" class="btn btn-danger">Annuler</button>
                    <a routerLink="/client/commande/detail/1">
                        <button type="button" class="btn btn-warning">Detail</button>
                    </a>
                  
                  </td>
              </tr>
            </tbody>
          </table>
          <nav aria-label="...">
            <ul class="pagination">
              <li class="page-item disabled">
                <a class="page-link">Previous</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">2 <span class="visually-hidden">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>
    </div>
</div>
<ss-footer></ss-footer>