<ss-header></ss-header>
<div class="container">
    <h3>LISTE DE MES COMMANDES</h3>
    <div class="filterSearchs">
      <input type="text" name="" placeholder="filtrer par etat" id="filtreByEtat"  [(ngModel)]="searchTerm" />
      <input type="text" name="" placeholder="filtrer par date" id="filtreByEtat" />

    </div>
    
    <div class="table">
      <!-- {{commandes$|async|json}} -->
        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
              <tr>
                <th>Numero commande</th>
                <th>Date commande</th>
                <th>Etat commande</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
             
                <tr *ngFor="let commande of commandes | paginate:{itemsPerPage:3,currentPage:p,totalItems:totalLenght} | commandeFilter:searchTerm">
                  <td>
                    <p class="fw-normal mb-1">{{commande.numeroCommande}}</p>
                  </td>
                  <td>
                    {{commande.dateCommande | date:'YYYY-MM-dd'}}
                  </td>
                  <td>
                    {{commande.etat}}
                  </td>
                  <td>
                      <button type="button" class="btn btn-danger">Annuler</button>
                      <a routerLink="/client/commande/detail/1">
                          <button type="button" class="btn btn-warning">Detail</button>
                      </a>
                    
                  </td>
                </tr> 
            </tbody>
          </table>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>
<ss-footer></ss-footer>