<ss-header></ss-header>
<div class="container">
    <div class="top">
        <div>
            <img src="assets/images/burgerCard.jpg" alt="...">
        </div>
        <div>
            <p>
                BRASIL CHEESE MENU
                Pain grillé, burger 130g, fromage et sauce maison
                le steak haché et/ou le bacon,
                le fromage (bien souvent du cheddar déjà en tranches),
                la salade,
                les rondelles de tomate et d’oignon,
            </p>
            <div class="cart_counter">
                
            </div>
            <a routerLink="/client/commande/panier">
                <button class="btn">Ajouter au panier</button>
            </a>
        </div>
    </div>
    <div class="middle">
        <p>COMPOSANTS DU MENU</p>
        <div class="middle-components">
            <ss-detail-menu></ss-detail-menu>
            <ss-detail-menu></ss-detail-menu>
            <ss-detail-menu></ss-detail-menu>
            <ss-detail-menu></ss-detail-menu>
            <ss-detail-menu></ss-detail-menu>
        </div>
    </div>
    <div class="bottom">
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">CANNETTES DISPONIBLES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">GRAND MODELES DISPONIBLES</a>
            </li>
        </ul>
        <div class="bottom-components">
            <div class="component-bottom">
                <div class="cart_counter cart-style">
                    <button  class="reduced items-count" type="button">
                        <i class="fa fa-minus"></i>
                    </button>
                    <input type="text" name="qty" id="sst61_menu" maxlength="12" value="1" title="Quantity:" class="input-text qty">
                    <button onclick="var result = document.getElementById('sst61_menu'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;" class="increase items-count" type="button">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
                <img src="assets/images/coca.jpg" alt="">
                <p>Coca cola</p>
            </div>
            <div class="component-bottom">
                <div class="cart_counter cart-style">
                    <button  class="reduced items-count" type="button">
                        <i class="fa fa-minus"></i>
                    </button>
                    <input type="text" name="qty" id="sst61_menu" maxlength="12" value="1" title="Quantity:" class="input-text qty">
                    <button onclick="var result = document.getElementById('sst61_menu'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;" class="increase items-count" type="button">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
                <img src="assets/images/coca.jpg" alt="">
                <p>Coca cola</p>
            </div>
            <div class="component-bottom">
                <div class="cart_counter cart-style">
                    <button  class="reduced items-count" type="button">
                        <i class="fa fa-minus"></i>
                    </button>
                    <input type="text" name="qty" id="sst61_menu" maxlength="12" value="1" title="Quantity:" class="input-text qty">
                    <button onclick="var result = document.getElementById('sst61_menu'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;" class="increase items-count" type="button">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
                <img src="assets/images/coca.jpg" alt="">
                <p>Coca cola</p>
            </div>
            <div class="component-bottom">
                <div class="cart_counter cart-style">
                    <button  class="reduced items-count" type="button">
                        <i class="fa fa-minus"></i>
                    </button>
                    <input type="text" name="qty" id="sst61_menu" maxlength="12" value="1" title="Quantity:" class="input-text qty">
                    <button onclick="var result = document.getElementById('sst61_menu'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;" class="increase items-count" type="button">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
                <img src="assets/images/coca.jpg" alt="">
                <p>Coca cola</p>
            </div>
            <div class="component-bottom">
                <div class="cart_counter cart-style">
                    <button  class="reduced items-count" type="button">
                        <i class="fa fa-minus"></i>
                    </button>
                    <input type="text" name="qty" id="sst61_menu" maxlength="12" value="1" title="Quantity:" class="input-text qty">
                    <button onclick="var result = document.getElementById('sst61_menu'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;" class="increase items-count" type="button">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
                <img src="assets/images/coca.jpg" alt="">
                <p>Coca cola</p>
            </div>
            <div class="component-bottom">
                <div class="cart_counter cart-style">
                    <button  class="reduced items-count" type="button">
                        <i class="fa fa-minus"></i>
                    </button>
                    <input type="text" name="qty" id="sst61_menu" maxlength="12" value="1" title="Quantity:" class="input-text qty">
                    <button onclick="var result = document.getElementById('sst61_menu'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;" class="increase items-count" type="button">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
                <img src="assets/images/coca.jpg" alt="">
                <p>Coca cola</p>
            </div>
        </div>
    </div>
</div>
<ss-footer></ss-footer>