.container{ 
    margin-bottom: 5%; 
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
h2{
  text-transform: uppercase;
  color: #C2B364;
  margin-top: 10%;
  margin-left: 40%;
  text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
}

.top{
   margin-top: 5%;
    display: flex;
}
img{
    margin-left: 10%;
    height: 300px;
    width: 400px;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
p{
    margin-left: 10%;
    font-size: x-large;
}
.cart_counter{
    flex: 1;
 margin-left: 10%;   
}
.btn{
    border-radius: 10px;
    background-color: #C2B364;
    color: white;
    font-size: large;   
    margin-left: 12%;
    height: 50px;
    margin-top: 5%;
}
.comp{
    margin-top: 10%;
    font-size: larger;
    color: #C2B364;
}
.comp-2{
    margin-left: 10%;

}
.middle{
  margin-top: -5%;
    display: flex;
    flex-direction: column;
}

.middle-components{
    display: flex;
    width: 30em;
    overflow-x: scroll;
    margin-left: 30%;
    margin-top: 5%;
}
.text-h{
  margin-top: 5%;
}
.component{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 8em;
}
.bottom{

  margin-top: 5%;
    display: flex;
    height: 25em;
}
.bottom-components{
  flex: 1;
  margin-left: 5%;
  margin-bottom: 5%;
  display: flex;
}
.components{
  overflow-x: scroll;
}

.component-bottom img{
    height: 200px;
    width: 200px;
}
.component-bottom p{
  margin-left: 25%;
}
input{
    width: 50px;
}
.btn-count{
   margin-top: -1%;
   height: 40px;
   border-radius: 5px;
   border: none;
}
.fix-1{
  border-radius: 20px;
    display: flex;
    flex: 1;
}
.fix-2{
  display: flex;
  flex-direction: column;
  flex: 1;
}
.cart-text{
  display: flex;
    flex: 2;
}
.title{
    font-size: x-large;
    color: #847528;
    text-transform: uppercase;
}
/*loader*/
.lds-ripple {
    top:40%;
    left: 45%;
    display: inline-block;
    position: fixed;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #847528;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  .bottom-2{
    margin-top: -8%;
    display: flex;
    flex-direction: column;
  }
  .bot{
    width: 50em;
    overflow-x: scroll;
    height: 22em;
  }
  .bottom-right{
    margin-left: 10%;
  }
  h4{
    color: #C2B364;
    margin-left: 35%;
  }
 
 h3{
  margin-left: 30%;
  color: #b4a55c;
  text-decoration: underline;
  margin-top: 10%;
 }
 .bot-2{
  margin-top: 5%;
  display: flex;
  flex-direction: column  ;
 }
 .middle-container{
  display: flex;
 }
 .h3-middle{
  margin-left: 40%;
 }
 .card-count{
  margin-left: 10%;
 }
 .btnDiv{
  display: flex;
 }
 .bottom-left{
 overflow-y: hidden;
  width: 82em;
 }
.nav-link.active{
  background-color: #b4a55c;
  color: white;
 }
 .nav-link{
  color: #b4a55c;
 }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  
  }
      /*scroll bar*/
      ::-webkit-scrollbar {
        width: 5px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        background: #f1f1f1; 
      }
       
      /* Handle */
      ::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background: #d3c686; 
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #b4a55c; 
      }