.container{
    margin-top: 10%;  
    display: flex;
    flex-direction: column;
}
.top{
    display: flex;
}
img{
    margin-left: 10%;
    height: 200px;
    width: 400px;
    border-radius: 20px;
}
p{
    margin-left: 10%;
    font-size: x-large;
}
.cart_counter{
    flex: 1;
 margin-left: 10%;   
}
.btn{
    border-radius: 10px;
    background-color: #C2B364;
    color: white;
    font-size: large;   
    margin-left: 15%;
    height: 50px;
    margin-top: 5%;
}
.comp{
    margin-top: 10%;
    font-size: larger;
    color: #C2B364;
}
.comp-2{
    margin-left: 10%;

}
.middle{
    display: flex;
    margin-top: 5%;

}
.middle-components{
    border: 3px solid #C2B364;
    display: flex;
    width: 40em;
    overflow-x: scroll;

}
.bottom{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}
.bottom-components{
    display: flex;
}

.component-bottom img{
    height: 200px;
    width: 200px;
}
.component-bottom p{
  margin-left: 25%;
}
input{
    width: 50px;
}
.btn-count{
   margin-top: -1%;
   height: 40px;
   border-radius: 5px;
   border: none;
}
.fix-1{
    display: flex;
    flex: 1;
}
.fix-2{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.cart-text{
    flex: 2;
}