<ss-header></ss-header>
<div class="container">
    <div class="top">
        <div>
            <img src="assets/images/burgerCard.jpg" alt="...">
        </div>
        <div>
            <p>
                BRASIL CHEESE MENU
                Pain grillé, burger 130g, fromage et sauce maison
                le steak haché et/ou le bacon,
                le fromage (bien souvent du cheddar déjà en tranches),
                la salade,
                les rondelles de tomate et d’oignon,
            </p>
            <div class="cart_counter">
                
            </div>
            <a routerLink="/client/commande/panier">
                <button class="btn">Ajouter au panier</button>
            </a>
        </div>
    </div>
    <div class="middle">
        <p>COMPOSANTS DU MENU</p>
        <div class="middle-components">
            <ss-detail-menu></ss-detail-menu>
            <ss-detail-menu></ss-detail-menu>
            <ss-detail-menu></ss-detail-menu>
            <ss-detail-menu></ss-detail-menu>
            <ss-detail-menu></ss-detail-menu>
        </div>
    </div>
    <div class="bottom">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"  type="button" data-bs-target ="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</button>
              <button class="nav-item nav-link" id="nav-profile-tab" data-bs-toggle="tab" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</button>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active p-3" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="bottom-components">
                    <ss-choix-boisson></ss-choix-boisson>
                    <ss-choix-boisson></ss-choix-boisson>
                    <ss-choix-boisson></ss-choix-boisson>
                    <ss-choix-boisson></ss-choix-boisson>
                    <ss-choix-boisson></ss-choix-boisson>
                    <ss-choix-boisson></ss-choix-boisson>
                 </div>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
          </div>
       
    </div>
</div>
<ss-footer></ss-footer>