<ng-container *ngIf="(produit$|async) == null">
    <div class="lds-ripple"><div></div><div></div></div>
</ng-container>
<ng-container *ngIf="(produit$|async) != null">
    <ss-header></ss-header>
        <div class="container">
        
            <p class="title"> {{(produit$|async)?.nom}}</p>
            <div class="top">
                
                <div class="fix-1">
                    <img src="data:image/png;base64,{{(produit$|async)?.image}}" alt="...">
                </div>
                <div class="fix-2">
                    <div class="cart-text">
                        <p>
                            {{(produit$|async)?.description}}
                        </p>
                    </div>
                    <div class="cart_counter">
                        <div class="d-flex mb-4" style="max-width: 300px">
                            <button class="btn btn-count btn-primary px-3 me-2 size"
                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                            <i class="fas fa-minus"></i>
                            </button>
                    
                            <div class="form-outline">
                            <input id="form1" min="0" name="quantity" value="1" type="number" class="form-control" />
                            </div>
                    
                            <button class="btn btn-count btn-primary px-3 ms-2 size"
                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                            <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <a routerLink="/client/commande/panier">
                        <button class="btn">Ajouter au panier</button>
                    </a>
                </div>
            </div>
            <div class="middle">
                <ng-container *ngIf="(produit$|async)?.type == 'menu'" >
                    <div class="middle-components comp-1">
                        <div *ngFor="let menuBurger of (produit$|async)?.menuBurgers">
                            <ss-detail-menu [menuBurgers]="menuBurger"></ss-detail-menu>
                        </div>
                    </div>
                    <div class="middle-components comp-2">
                        <div *ngFor="let menuPortion of (produit$|async)?.menuPortionFrites">
                            <ss-detail-menu [menuPortions]="menuPortion"></ss-detail-menu>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="(produit$|async)?.type == 'burger'" >
                    <div class="middle-components comp-1">
                        <ss-choix-boisson></ss-choix-boisson>
                        <ss-choix-boisson></ss-choix-boisson>
                        <ss-choix-boisson></ss-choix-boisson>
                        <ss-choix-boisson></ss-choix-boisson>
                    </div>
                    <div class="middle-components comp-2">
                        <ss-choix-boisson></ss-choix-boisson>
                        <ss-choix-boisson></ss-choix-boisson>
                        <ss-choix-boisson></ss-choix-boisson>
                        <ss-choix-boisson></ss-choix-boisson>
                    </div>
                </ng-container>
               
            </div>
        
            <ng-container *ngIf="(produit$|async)?.type == 'menu'">
                <div class="bottom">
                    <div id="tabs" #tabs>
            
                        <ul class="nav nav-pills">
                        <li class="nav-item">
                            <button class="nav-link active" [ngClass]="{ 'active':activeTab==='search'}" (click)="search('search')"
                            data-toggle="tab">CANNETTES DISPONIBLES</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link"  [ngClass]="{ 'active':activeTab==='result'}" data-toggle="tab"
                            (click)="result('result')">GRAND MODELE DISPONIBLE</button>
                        </li>
                        </ul>
                    
                        <div class="tab-content">
                        <div class="tab-pane" id="search" [ngClass]="{ 'active':activeTab==='search'}">
                                <div class="bottom-components">
                                    <ss-choix-boisson></ss-choix-boisson>
                                    <ss-choix-boisson></ss-choix-boisson>
                                    <ss-choix-boisson></ss-choix-boisson>
                                    <ss-choix-boisson></ss-choix-boisson>
                                    <ss-choix-boisson></ss-choix-boisson>
                                    <ss-choix-boisson></ss-choix-boisson>
                                </div>
                        </div>
                        <div class="tab-pane" id="results" [ngClass]="{ 'active':activeTab==='result'}">
                            <div class="bottom-components">
                                <div class="component-bottom">
                                    <div class="cart_counter cart-style">
                                        <button  class="reduced items-count" type="button">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                        <input type="text" name="qty" id="sst61_menu" maxlength="12" value="1" title="Quantity:" class="input-text qty">
                                        <button onclick="var result = document.getElementById('sst61_menu'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;" class="increase items-count" type="button">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                    <img src="assets/images/gm.jpg" alt="">
                                    <p>Coca cola</p>
                                </div>
                                <div class="component-bottom">
                                    <div class="cart_counter cart-style">
                                        <button  class="reduced items-count" type="button">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                        <input type="text" name="qty" id="sst61_menu" maxlength="12" value="1" title="Quantity:" class="input-text qty">
                                        <button onclick="var result = document.getElementById('sst61_menu'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;" class="increase items-count" type="button">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                    <img src="assets/images/gm.jpg" alt="">
                                    <p>Coca cola</p>
                                </div>
                                <div class="component-bottom">
                                    <div class="cart_counter cart-style">
                                        <button  class="reduced items-count" type="button">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                        <input type="text" name="qty" id="sst61_menu" maxlength="12" value="1" title="Quantity:" class="input-text qty">
                                        <button onclick="var result = document.getElementById('sst61_menu'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;" class="increase items-count" type="button">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                    <img src="assets/images/gm.jpg" alt="">
                                    <p>Coca cola</p>
                                </div>
                                <div class="component-bottom">
                                    <div class="cart_counter cart-style">
                                        <button  class="reduced items-count" type="button">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                        <input type="text" name="qty" id="sst61_menu" maxlength="12" value="1" title="Quantity:" class="input-text qty">
                                        <button onclick="var result = document.getElementById('sst61_menu'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;" class="increase items-count" type="button">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                    <img src="assets/images/gm.jpg" alt="">
                                    <p>Coca cola</p>
                                </div>
                            </div>
                        </div>
                        </div>
                    
                    </div>
                </div>
            </ng-container>
            
                    
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
        </div>

    <ss-footer></ss-footer>
</ng-container>