
<div class="cart_counter">
    <ng-container *ngIf="produits || boissonTailleBoissons">
        <p>{{validateNumber()}}</p>
    </ng-container>
    <!-- {{size}} -->
    <div class="d-flex mb-4" style="max-width: 300px">
        
        <div class="form-outline d-flex">
            <ng-container *ngIf="boissonTailleBoissons">
                <button (click)="dec()" class="btn btn-count btn-primary px-3 me-2 size"><i class="fas fa-minus"></i></button>
                <input [disabled] id="form1" min="0" name="quantity" value="{{size}}" type="number" class="form-control" />
                <button  (click)="inc()" class="btn btn-count btn-primary px-3 ms-2 size"><i class="fas fa-plus"></i></button>
            </ng-container>
            <ng-container *ngIf="produits">
                <button (click)="dec()" class="btn btn-count btn-primary px-3 me-2 size"><i class="fas fa-minus"></i></button>
                <input  (input)="testDisabled($event)"  [(ngModel)]="number" id="form1" min="1" name="quantity" value="{{size}}" type="number" class="form-control" />
                <button  (click)="inc()" class="btn btn-count btn-primary px-3 ms-2 size"><i class="fas fa-plus"></i></button>
            </ng-container>
            <ng-container *ngIf=" boisson || frites">
                <button (click)="dec()" class="btn btn-count btn-primary px-3 me-2 size"><i class="fas fa-minus"></i></button>
                <input id="form1" min="0" name="quantity" value="0" type="number" class="form-control" />
                <button  (click)="inc()" class="btn btn-count btn-primary px-3 ms-2 size"><i class="fas fa-plus"></i></button>  
            </ng-container>
        </div>
      
    </div>
</div>

