<ss-navbar></ss-navbar>
<div class="content-wrapper">
    <div class="content">
        <h2>LISTE DES COMMANDES</h2>
        <div class="filterSearchs">
            <input type="text" name="" placeholder="filtrer par etat" id="filtreByEtat" [(ngModel)]="searchTerm"  />
            <input type="text" name="" placeholder="filtrer par zone" id="filtreByZone" [(ngModel)]="searchTermZone" />
            <input type="text" name="" placeholder="filtrer par client" id="filtreByZone" [(ngModel)]="searchTermClient" />
            <input type="date" name="" placeholder="" id="filtreByDate" [(ngModel)]="searchTermDate" />
          </div>
        <div class="liste">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Numero commande</th>
                    <th scope="col">Client</th>
                    <th scope="col">Montant commande</th>
                    <th scope="col">Date commande</th>
                    <th scope="col">ACTION</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let commande of commandes
                    | commandeFilter:searchTerm
                    | CommandeDateFilter:searchTermDate
                    | CommandeZoneFilter:searchTermZone
                    | CommandeCLientFilter:searchTermClient
                    | paginate:{itemsPerPage:5,currentPage:p,totalItems:totalLenght}">
                    <td>{{commande.numeroCommande}}</td>
                    <td>{{commande.client?.prenom}} {{commande.client?.nom}}</td>
                    <td>{{commande.montantCommande}}</td>
                    <td>{{commande.dateCommande |date}}</td>
                    <td>
                        <button (click)='CommandetoEdit(commande.id,"valide")'  class="btn-va"><i class="fa-solid fa-check"></i>valider</button>
                        <button (click)='CommandetoEdit(commande.id,"termine")' class="btn-ter"><i class="bi bi-bookmark-check-fill"></i>terminer</button>
                        <button (click)='CommandetoEdit(commande.id,"annule")' class="btn-an"><i class="bi bi-slash-circle"></i>annuler</button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
           
    </div>
</div>