<ss-navbar></ss-navbar>
<div class="content-wrapper">
  <a routerLink="/gestionnaire/commande/livraison">
    <button class="back"> <i class="bi bi-arrow-left-circle-fill"></i>Retour </button>
  </a>
    <div class="content">
        <h2>LISTE DES LIVRAISONS</h2>
        <div class="liste">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">ID </th>
                    <th scope="col">Livreur</th>
                    <th scope="col">Etat</th>
                    <th scope="col">ACTION</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let livraison of livraisons">
                    <td>{{livraison.id}}</td>
                    <td>{{livraison.livreur.prenom}} {{livraison.livreur.nom}}</td>
                    <td>{{livraison.etat}}</td>
                    <td>
                      <a routerLink="/gestionnaire/commande/listeCommande/{{livraison.id}}">
                        <button  class="btn-inf"><i class="bi bi-info-circle"></i>Detail</button>
                      </a> 
                       <button  (click)='CommandetoEdit(livraison.id,"valide")' class ="btn-va"><i class="fa-solid fa-check"></i>Valider</button>
                    </td>
                  </tr>
                </tbody>
              </table>
             
        </div>
           
    </div>
</div>