<ss-header></ss-header>
<div class=" main main_slider owl-carousel">
    <div class="item">
      <img class="img1" src="assets/images/burgerHome.jpg" height="1000px" width="1850px" alt="1000px">
    </div>
</div>
<div class="index">
    <div>
        <img class="img2" src="assets/images/logo.bin" alt="...">
    </div>
    <div>
        <p>BURGER TRES DELICIEUX !!!</p>
    </div>
</div>
<div class="div-info">
    <h1>
        BRASIL BURGER
    </h1>
    <h3>
        venez comme vous etes et <br>
        testez nos burgers au gout <br>
        incomparable
    </h3>
</div>

<div class="wrapper">
    <div class="cards">
        <ss-card></ss-card>
        <ss-card></ss-card>
        <ss-card></ss-card>
        <ss-card></ss-card>
        <ss-card></ss-card>
        <ss-card></ss-card>
        <ss-card></ss-card>
        <ss-card></ss-card>
        <ss-card></ss-card>

    </div>
  </div>
<ss-footer></ss-footer>