<ss-header></ss-header>
<div class=" main main_slider owl-carousel">
    <div class="item">
      <img class="img1" src="assets/images/burgerHome.jpg" height="1000px" width="1850px" alt="1000px">
    </div>
</div>
<div class="index">
    <div>
        <img class="img2" src="assets/images/logo.bin" alt="...">
    </div>
    <div>
        <p>BURGER TRES DELICIEUX !!!</p>
    </div>
</div>
<div class="div-info">
    <h1>
        BRASIL BURGER
    </h1>
    <h3>
        venez comme vous etes et <br>
        testez nos burgers au gout <br>
        incomparable
    </h3>
</div>
<div class="choices-catalogues">
    <ul class="nav nav-pills">
        <li class="nav-item">
          <button class="btn-choices nav-link active" [ngClass]="{ 'active':activeTab==='search'}" (click)="search('search')"
             data-toggle="tab">MENUS</button>
        </li>
        <li class="btn-choices nav-item li2">
          <button class="nav-link"  [ngClass]="{ 'active':activeTab==='result'}" data-toggle="tab"
             (click)="result('result')">BURGERS</button>
        </li>
      </ul>
</div>
<!-- {{catalogues$|async|json}} -->
<div class="wrapper">
    <ng-container *ngIf="(catalogues$|async)?.produits != undefined">
        <div class="cards" >
            <div *ngFor="let catalogue of (catalogues$|async)?.produits">
                 <ss-card [catalogues]="catalogue"></ss-card>
             </div>
         </div>
    </ng-container>
    <ng-container *ngIf="(catalogues$|async)?.produits == undefined" >
        <div class="loader"></div>
    </ng-container>
</div>

<div class="tab-content">
    <div class="tab-pane" id="search" [ngClass]="{ 'active':activeTab==='search'}">
        wesh
    </div>
    <div class="tab-pane" id="results" [ngClass]="{ 'active':activeTab==='result'}">
        wep
    </div>
</div>
<ss-footer></ss-footer>