.img1{
    filter: brightness(60%); 
}

.main{
    position: relative;
}
.index{
    z-index: 2;
    top: 45%;
    left: 45%;
    position: absolute;
}
.img2{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
p{
    font-size: 20px;
    color: aliceblue;
}
.div-info{
    margin-top: 5%;
    margin-left: 40%;
    color: #866B0E;
}
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap");
:root {
  box-sizing: border-box;
  --clr-head: #0c3653;
  --clr-accent: #f98169;
  --clr-body: #aeb2b4;
  --fs-h2: 3rem;
  --fs-h4: 1.8rem;
  --ff-body: "Raleway", sans-serif;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
html {
  font-size: 62.5%;
}
body {
  color: var(--clr-body);
  font-family: var(--ff-body);
  font-size: 1.6rem;
  min-height: 100vh;
  line-height: 1.6;
}

h2,
h4 {
  color: var(--clr-head);
}

h2 {
  font-size: var(--fs-h2);
}

.wrapper {
  max-width: 1300px;
  width: 100%;
  margin:  3em auto;
  padding: 0 2em;
  margin-left: 20%;
}

.head-title {
  text-align: center;
}

.head-text {
  max-width: 520px;
  margin: auto;
  margin-top: 0.5em;
}

.cards {
  max-width: 100%;
  width: 1100px;
  margin-top: 6em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}
.choices-catalogues{
  margin-top: 5%;
  margin-left: 40%;
  font-size: x-large;
}

.loader {
  margin-left: 32%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #866B0E;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.nav-link{
  background-color: white;
  height: 50px;
  color: #866B0E;
}

.li2{
  margin-left: 10%;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}