.gradient-custom{
    display: flex;
    margin-top: 5%;
}
h5{
    color: #C2B364;
}
.size{
    height: 40px;
}
.btn-pers{
    background-color: #C2B364;
    color: white;
}
.panierVide{
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn{
    border: none;
    background-color: #C2B364;
    color: white;
}