
<ss-header></ss-header>
<p>panier works!</p>
<ng-container *ngIf="items.length == 0">
  <div class="panierVide">
    <img src="assets/images/panierVide.png" alt="">
    <h2>votre panier est vide</h2>
    <a routerLink="/client/produits/catalogues"> <button class="btn btn-primary">revenir au catalogue</button></a>
  </div>
</ng-container><ng-container *ngIf="items.length != 0">
       
  <section class="h-100 gradient-custom">

    <div class="container py-5">
      <div class="row d-flex justify-content-center my-4">
          <div class="col-md-8">
            <div class="card mb-4">
              <div class="card-header py-3">
                <h5 class="mb-0">VOTRE PANIER</h5> 
              </div>
              <!-- {{items|json}} -->
              <div class="card-body" *ngFor="let item of items ; let i=index">
                <ss-ligne-panier (index)="onDelete($event)" [item]="item" ></ss-ligne-panier> 
              </div>
            </div>
          </div>
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-header py-3">
              <h5 class="mb-0">RESUME DU PANIER</h5>
            </div>
            <div class="card-body">
              <div>
                <form [formGroup]="registerForm" (ngSubmit)="submitData()">
                  <label class="form-label" for="form2Example1">Choisissez une zone</label>
                  <select formControlName="zone" class="form-select" aria-label="Default select example">
                    <option selected>selectionnez une zone</option>
                    <ng-container *ngFor="let zone of zones">
                      <option value={{zone.id}}>
                        {{zone.libelle}} : 
                        <ng-container *ngFor="let quartier of zone.quartiers">
                            {{quartier.libelle}} - 
                        </ng-container>
                      </option>
                    </ng-container>
                  </select>
                  <div *ngIf="zone.invalid && zone.touched || zone.dirty">
                    <span style="color: red" *ngIf="zone.errors?.required">La zone est obligatoire</span>
                  </div>
                </form>
              </div>
              <ul class="list-group list-group-flush">
                
                <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                  <div>
                    <strong>TOTAL PAYEMENT</strong>
                  </div>
                  <span><strong>{{montant}} X0F</strong></span>
                </li>
              </ul>
              <a>
                <button type="submit" (click)="validerCommande()" type="button" class="btn btn-pers btn-lg btn-block">
                  COMMANDER
                </button>
              </a>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>
  <ss-footer ></ss-footer>