<nav class="vertical-menu-wrapper">
    <div class="vertical-menu-logo">
      <div >
        <img class="logo" src="assets/images/logo.bin" alt="">
    </div>
      <span class="open-menu-btn"><hr><hr><hr></span>
    </div>
    <ul class="vertical-menu">
        <li>
            <i class="fa-solid fa-gauge"></i>
            DASHBOARD
        </li>
        <li>
            <i class="fa-solid fa-burger"></i>
            GESTION DES BURGERS
        </li>
        <li>
            <i class="fa-solid fa-utensils"></i>
            GESTION DES MENUS
        </li>
        <li>
            <i class="bi bi-spotify"></i>
            GESTION DES FRITES
        </li>
        <li>
            <i class="fa-solid fa-bottle-water"></i>
            GESTION DES BOISSONS
        </li>
        <li>
            <i class="bi bi-cart-fill"></i>
            GESTION DES COMMANDES
        </li>
        <li>
            <i class="bi bi-truck"></i>
            GESTION DES LIVREURS
        </li>
        <li>
            <i class="fa-solid fa-arrow-down-a-z"></i>
            GESTION DES ZONES
        </li>
    </ul><i class="bi bi-spotify"></i>
  </nav>
  <div class="content-wrapper">
    <a href=""><button class="btn btn-danger">DECONNEXION</button></a>
    <div class="content">

    </div>
  </div>
