.component img{
    height: 100px;
    width: 100px;
    margin-left: 5px;
}
.component p{
    margin-left: 5px;
    color: black;
}

.component{
    display: flex;
    flex-direction: column;
}
.bottom{
    background-color: aqua;
}
img{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}