.content-wrapper{
    width: calc(100% - 300px);
    height: 100%;
    position: fixed;
    background: #fff;
    left: 300px;
    padding: 20px;
    border: 1px solid #C2B364;
    overflow-y: scroll;
  }
  .content{
    margin-top: 2%;
    margin-left: 5%;
    width: 90%;
    min-height: 90%;
    background: #fff;
    border-radius: 10px;
    padding: 30px;
    border:1px solid #C2B364;

}
.btn{
    border-radius: 10px;
    border: none;
    background-color: #C2B364;
    color: white;
    margin-left: 85%;
}
h2{
    text-align: center;
    text-decoration: underline;
    color: #C2B364;
}
.test{
    display: flex;
}
.inputGen{
    border-radius: 5px;
    height: 40px;
    width: 80%;
    margin: 1%;
}
.inp{
    flex: 5;
}
.btnplus{
    flex: 1;

}

.btn-plus{
    background-color: #C2B364;
    color: #fff;
    border: none;
}
.champ{
    border: none;
    color: white;
    background-color: #C2B364;
    margin-left: 5%;
}
.champ.delete{
    background-color: red;
}